<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="module.sys.dao.ISysMenuMapper" >

  <resultMap id="BaseResultMap" type="SysMenu" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PERMS" property="perms" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
    <result column="MENU_TYPE" property="menuType" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID,
    MENU_NAME as menuName,
    ICON,
    URL,
    PERMS,
    ORDER_NUM as orderNum,
    MENU_TYPE as menuType,
    PARENT_ID as parentId
  </sql>

  <!--查询所有菜单-->
  <select id="getList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from SYS_MENU
  </select>

  <!--查询父菜单-->
  <select id="queryListParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_MENU su
    where su.parent_id = #{menuId}
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="SysMenu" >
    insert into SYS_MENU (ID, MENU_NAME, ICON, 
      URL, PERMS, ORDER_NUM, 
      MENU_TYPE, PARENT_ID)
    values (#{id,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER},
      #{menuType,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="SysMenu" >
    insert into SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="perms != null" >
        PERMS,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="menuType != null" >
        MENU_TYPE,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="perms != null" >
        #{perms,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="SysMenu" >
    update SYS_MENU
    <set >
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="perms != null" >
        PERMS = #{perms,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        MENU_TYPE = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="SysMenu" >
    update SYS_MENU
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      PERMS = #{perms,jdbcType=VARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      MENU_TYPE = #{menuType,jdbcType=INTEGER},
      PARENT_ID = #{parentId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

</mapper>