<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="module.sys.dao.ISysMenuMapper" >

  <resultMap id="BaseResultMap" type="SysMenu" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PERMS" property="perms" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
    <result column="MENU_TYPE" property="menuType" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID,
    MENU_NAME as menuName,
    ICON,
    URL,
    PERMS,
    ORDER_NUM as orderNum,
    MENU_TYPE as menuType,
    PARENT_ID as parentId
  </sql>

  <!--根据菜单id查询菜单信息-->
  <select id="getOne" parameterType="java.lang.String" resultType="SysMenu">
    select
    <include refid="Base_Column_List" />,
    (select sm2.menu_name from sys_menu sm2 where sm2.id = sm.id) as parentName
    from SYS_MENU sm
    where sm.id = #{menuId}
  </select>

  <!--查询所有菜单-->
  <select id="getList" parameterType="util.PageUtils" resultType="SysMenu">
    select
      <include refid="Base_Column_List" />,
      (select sm2.menu_name from sys_menu sm2 where sm2.id = sm.id) as parentName
    from SYS_MENU sm
    order by sm.menu_type,sm.order_num,sm.id
  </select>

  <!--查询父菜单-->
  <select id="queryListParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_MENU su
    where su.parent_id = #{menuId}
  </select>

  <!--删除菜单-->
  <delete id="deleteBatch">
    delete from SYS_MENU
    where ID in
    <foreach collection="array" item="menuId" separator="," open="(" close=")">
      #{menuId,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <!--查询菜单 目录 没有按钮-->
  <select id="queryNotButtonList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_MENU sm
    where sm.menu_type != '2'
    order by order_num
  </select>

  <!--保存菜单信息-->
  <insert id="save" parameterType="SysMenu" >
    insert into SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="perms != null" >
        PERMS,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="menuType != null" >
        MENU_TYPE,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="perms != null" >
        #{perms,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--更新菜单信息-->
  <update id="update" parameterType="SysMenu" >
    update SYS_MENU
    <set >
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="perms != null" >
        PERMS = #{perms,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        MENU_TYPE = #{menuType,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

</mapper>