<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="module.sys.dao.ISysRoleMenuMapper" >

  <resultMap id="BaseResultMap" type="SysRoleMenu" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID,
    MENU_ID as menuId,
    ROLE_ID as roleId
  </sql>

  <!--删除角色菜单关联信息-->
  <delete id="delete" parameterType="java.lang.String" >
    delete from SYS_ROLE_MENU where ID = #{id}
  </delete>

  <!--根据角色id删除角色菜单关联信息-->
  <delete id="deleteRoelMenuByRoleId" parameterType="java.lang.String" >
    delete from SYS_ROLE_MENU
    where MENU_ID in
    <foreach collection="array" item="menuId" separator="," open="(" close=")">
      #{menuId, jdbcType="varchar"}
    </foreach>
  </delete>

  <!--新增关联信息-->
  <insert id="save" parameterType="java.util.HashMap" >
    insert into SYS_ROLE_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <foreach collection="menuIdList" item="item" open="(" close=")" separator=",">
        sys_guid(),
        <if test="item != null" >
          #{item,jdbcType=VARCHAR},
        </if>
        <if test="roleId != null" >
          #{roleId,jdbcType=VARCHAR},
        </if>
      </foreach>
    </trim>
  </insert>

  <!--查询角下下授权的菜单id-->
  <select id="queryMenuIdList" resultType="java.lang.String" parameterType="java.lang.String" >
    select
    srm.menu_id
    from sys_role_menu srm
    where srm.role_id = #{roleId}
  </select>

</mapper>