<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="module.sys.dao.ISysUserRoleMapper" >

  <resultMap id="BaseResultMap" type="SysUserRole" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID,
    USER_ID as userId,
    ROLE_ID as roleId
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <!--查询用户下的所有角色-->
  <select id="queryRoleIdList" resultType="java.lang.String" parameterType="java.lang.String" >
    select sr.id
    from sys_user su,
    sys_role sr,
    sys_user_role sur
    where sur.role_id = sr.id
    and sur.user_id = su.id
    and su.status = '1'
    and su.
    and su.id = #{userId,jdbcType=VARCHAR}
  </select>

  <!--根据用户id删除关联信息-->
  <delete id="deleteBatchByUserId">
    delete from SYS_USER_ROLE where USER_ID in
    <foreach collection="array" item="ids" open="(" separator="," close=")">
      #{ids,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <!--根据角色id删除关联信息-->
  <delete id="deleteBatchByRoleId">
    delete from SYS_USER_ROLE where ROLE_ID in
    <foreach collection="array" item="ids" open="(" separator="," close=")">
      #{ids,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <!--保存用户角色信息-->
  <insert id="saveUserRole">
    insert into SYS_USER_ROLE (ID, USER_ID, ROLE_ID)
    <foreach collection="roleIdList" item="roleId" separator="union all">
        select
          sys_guid(), #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
        from dual
    </foreach>
  </insert>
</mapper>